div.grid-container.full {
  margin-top: 0px;
  margin-bottom: 0px;
}

// Left nav-bar
.left-nav-bar {
  background-color: #476C9B;
  padding: 10px;
}

ul.menu.left-nav-bar {
  display: flex;
  flex-direction: row;
  background-color: #476C9B;
}

// Left nav-bar - Search section
ul.menu.left-nav-bar.nav-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  background-color: #476C9B;
  width: 100%;
}

.search-container {
  min-width: 100%;
}

ul.menu.left-nav-bar.nav-flex li{
  background-color: #476C9B;
  width: 100%;
}

label.nav-search, li.nav-search, h6.nav-search {
  font-family: 'Source Serif Pro', serif;
  font-size: 1.8rem;
  color: #F7F9FB;
}

li.nav-search {
  list-style: none;
}

input.search-field {
  height: 40px;
  width: 100%;
  font-family: 'Source Serif Pro', serif;
  font-size: 1.8rem;
}

input.nav-search-input {
  height: 40px;
  font-family: 'Source Serif Pro', serif;
  font-size: 1.8rem;
}

input.search-button {
  margin-top: 5px;
}

// Left nav-bar Filter Section
div.callout.filter-container {
  display: flex;
  flex-direction: column;
  background-color: #F7F9FB;
  padding: 20px;
  margin-top: 20px;
}

div.menu.filter-section {
  display: flex;
  flex-direction: column;
}

label.checkbox-label {
  font-family: 'Source Serif Pro', serif;
  font-size: 1.8rem;
}

input.checkbox-input {
  margin-left: 10px;
}

// Campground Tiles container

.campground-tile-container {
  display: flex;
  background-color: #F7F9FB;
  padding: 20px;
}

.index-scrollable {
  height: 100vh; /* or any value */
  overflow-y: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.index-scrollable::-webkit-scrollbar {
  display: none;
}