// Campground Tiles Section
.card-title {
  color: #476c9b;
}

.card-title a {
  text-decoration: underline;
}

.card-title a:hover {
  color: #ed9905;
  text-decoration: underline;
}

// Responsive Tile
@media screen and (min-width: 641px){
  .card {
    width: 28em;
    height: 34em;
  }
  
  .card img {
    width: 25em;
    max-height: 20em;
    overflow: hidden;
  }

  .card-title a {
    font-size: 1.6rem;
    font-weight: 600;
  }
}

@media screen and (max-width: 640px){
  .card {
    width: 20em;
    height: 30em;
  }
  
  .card img {
    width: 15em;
    max-height: 15em;
    overflow: hidden;
  }

  .card-title a {
    font-size: 1.4rem;
    font-weight: 600;
  }
}
