form.new-campground-form.callout {
  border-radius: 10px;
  background-color: #476C9B;
  color: #F7F9FB;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
  width: 100%;
}

form.new-campground-form.callout input {
  width: 100%;
  height: auto;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 1.2rem;
}

form.new-campground-form.callout textarea {
  width: 100%;
  min-height: 300px;
  font-size: 1.2rem;
}

select.campground-form {
  width: min-content;
  padding: 5px;
  font-size: 1.2rem;
}

