div.grid-container.fluid.show-container {
  padding: 20px 100px 20px 100px;
}

// Description Section

div.description-tile {
  margin-top: 20px;
}

// Info Section
.info-container {
  background-color: #476C9B;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
}

img.map-image {
  max-width: 300px;
  height: auto;
}

.amenities-container {
  background-color: #F7F9FB;
  padding: 20px;
  border-radius: 10px;
  box-shadow: inset 2px 2px 15px #984447;
}

.amenities-container ul {
  list-style: none;
}
.amenities-container li {
  background-color: #F7F9FB;
}

.amenities-container a {
  text-decoration: underline;
  color: #476C9B;
}

.amenities-container a:hover {
  color: #984447;
}

div.callout.weather-container {
  background-color: #F7F9FB;
  border-radius: 5px;
  padding: 20px;
  box-shadow: inset 2px 2px 15px #ED9905;
}

div.callout.weather-container ul {
  background-color: #F7F9FB;
  list-style: none;
}

li.weather {
  background-color: #F7F9FB;
}

// Review Form Section

div.reviews-container {
  color: #F7F9FB;
}

form.new-review-form.callout {
  font-family: 'Source Serif Pro', serif;
  font-size: 1.8rem;
  border-radius: 10px;
}

form.new-review-form.callout label, form.new-review-form.callout input {
  font-family: 'Source Serif Pro', serif;
  font-size: 1.8rem;
}

// Reviews Section
div.grid-x.grid-margin-x.reviews-container {
  background-color: #476C9B;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
}

//Errors
div.callout.alert, div.callout.alert li {
  background-color: #984447;
  border-radius: 5px;
}

.paragraph-format {
  white-space: pre-wrap;
  font-family: 'Source Serif Pro', serif;
  font-size: 1.6rem;
}

// Buttons
button#delete-review.button {
  margin-left: 5px;
}

button.delete-button.button {
  margin-left: 5px;
}

