// Campground Tiles Section
.card {
  width: 25rem;
  height: 30rem;
}

.card img {
  width: 25rem;
  overflow: hidden;
}

.card-title {
  color: #476c9b;
}

.card-title a {
  font-size: 1.6rem;
}
.card-title a:hover {
  color: #984447;
  text-decoration: underline;
}