div.grid-container.fluid.show-container {
  padding: 20px 100px 20px 100px;
}

div.grid-x.grid-margin-x.amenities-container {
  background-color: #A0C1B9;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
}

div.grid-x.grid-margin-x.amenities-container li {
  background-color: #A0C1B9;
}