.camper-mods-style a {
  color: #476c9b;
  font-weight: bold;
}

.camper-mods-style a:hover {
  color: #984447;
}

.camper-mods-style em {
  color: #101419;
  font-family: "Source Serif Pro", serif;
  font-size: 1.8rem;
}


// Images Section
  .camper-mods-thumbnail img {
    max-height: 300px;
    max-width: auto;
    padding: 10px;
  }

.lightbox-container-mods {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  // justify-content: center;
  // align-content: center;
  // align-items: center;
}