div.grid-container.fluid.show-container {
  padding: 20px 100px 20px 100px;
}

// Amenities Section
div.grid-x.grid-margin-x.amenities-container {
  background-color: #A0C1B9;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
}

div.grid-x.grid-margin-x.amenities-container li {
  background-color: #A0C1B9;
}

div.grid-x.grid-margin-x.amenities-container a {
  text-decoration: underline;
  color: #476C9B;
}

div.grid-x.grid-margin-x.amenities-container a:hover {
  color: #984447;
}


// Review Form Section
form.new-review-form.callout {
  font-family: 'Source Serif Pro', serif;
  font-size: 1.8rem;
  border-radius: 10px;
}

form.new-review-form.callout label, form.new-review-form.callout input {
  font-family: 'Source Serif Pro', serif;
  font-size: 1.8rem;
}

// Reviews Section
div.grid-x.grid-margin-x.reviews-container {
  background-color: #476C9B;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
}

//Errors
div.callout.alert, div.callout.alert li {
  background-color: #984447;
  border-radius: 5px;
}