div.grid-container {
  margin-top: 20px;
}

div.devise-bg.callout {
  background-color: #476C9B;
  padding: 30px;
}

div.field {
  line-height: 30%;
}

// Add extra space above password field on create account
input#user_password.devise-new-password {
  margin-top: 10px;
}

h2.devise-style {
  font-family: 'Source Serif Pro', serif;
  font-size: 2.2rem;
  color: #F7F9FB;
  
}

// Devise form input fields
input.devise-form {
  height: 40px;
  font-family: 'Source Serif Pro', serif;
  font-size: 1.8rem;
}

// remember me section on login page
div.field.devise-style {
  display: flex;
  margin: 0px;
}

label.devise-style, label.devise-style em {
  font-family: 'Source Serif Pro', serif;
  font-size: 1.8rem;
  color: #F7F9FB;
  margin: 0px;
}

// Message about password requirements
em {
  font-family: 'Source Serif Pro', serif;
  font-size: 1.4rem;
  color: #F7F9FB;
  margin: 0px;
}

input#user_remember_me {
  margin-top: 5px;
}

// devise links
.devise-links {
  color: black;
  margin-right: 5px;
  margin-top: 10px;
}

a.devise-links {
  margin-left: 0px;
}

.devise-flex {
  display: flex;
}
