// Devise Style 
div.devise-bg.callout {
  background-color: #476C9B;
  padding: 40px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

label.label.devise-style, .devise-style {
  font-family: 'Source Serif Pro', serif;
  color: #F7F9FB;
  font-size: 1.4rem;
  font-weight: normal;
}

// Devise check box
input#user_remember_me.devise-check {
  margin-top: 5px;
}

label.devise-check {
  margin-left: 5px;
  color: #F7F9FB;
}

// devise links
.devise-links {
  color:#f7f9fb;
  font-size: 1.1rem;
  margin-right: 5px;
  margin-top: 10px;
}

.devise-flex {
  display: flex;
  align-content: center;
}
