.color-scheme-white {
  color: #F7F9FB;
}
.color-scheme-black {
  color: #101419;
}
.color-scheme-red {
  color: #984447;
}
.color-scheme-medium-blue {
  color: #476C9B;
}
.color-scheme-green {
  color: #98B9AB;
}
.color-scheme-yellow {
  color: #ED9905;
}

.color-scheme-purple {
  color: #413C58;
}
.color-scheme-light-blue {
  color: #ADD9F4;
}

html {
  font-size: 62.5%;
  height: 100%;
  position: relative;
  margin: 0px;
}

body {
  background-color: #F7F9FB;
  font-family: 'Source Serif Pro', serif;
  font-size: 1.4rem;
  color: #101419;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

h1 {
  font-size: 2.8rem;
  font-family: 'Source Serif Pro', serif;
}

h2 {
  font-size: 2.6rem;
  font-family: 'Source Serif Pro', serif;
}

h3 {
  font-size: 2.4rem;
  font-family: 'Source Serif Pro', serif;
}

h4 {
  font-size: 2.2rem;
  font-family: 'Source Serif Pro', serif;
}

h5 {
  font-size: 2.0rem;
  font-family: 'Source Serif Pro', serif;
}

h6 {
  font-size: 1.8rem;
  font-weight: 800;
  font-family: 'Source Serif Pro', serif;
}

a {
  font-family: 'Source Serif Pro', serif;
  font-size: 1.8rem;
  color: #F7F9FB;
}

a:hover {
  color: #F7F9FB;
  text-decoration: underline;
}

.center-text {
  text-align: center;
}

// Button styles
.button, .button:active {
  font-family: 'Source Serif Pro', serif;
  font-size: 1.8rem;
  margin: 0px;
  padding: 10px;
  height: 40px;
  width: fit-content;
  border-radius: 2px;
  background-color: #984447;
  color: #F7F9FB;
  transition: background-color 0.25s ease-out, color 0.25s ease-out
}

.button:hover {
  background-color: #ED9905;
  color: #F7F9FB;
  font-family: 'Source Serif Pro', serif;
  font-size: 1.8rem;
}

// Admin related links (i.e. Update/Delete Campground)
div.grid-x.grid-margin-x.admin-flex {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

a.admin-link {
  font-family: 'Source Serif Pro', serif;
  font-size: 1.8rem;
  margin-left: 10px;
  padding: 10px;
  height: 40px;
  width: fit-content;
  border-radius: 2px;
  background-color: #984447;
  color: #F7F9FB;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

a.admin-link:hover {
  background-color: #ED9905;
  color: #F7F9FB;
  font-family: 'Source Serif Pro', serif;
  font-size: 1.8rem;
}

// Dropzone Style
.dropzone-box {
  border: #101419 2px dotted;
  padding: 20px;
  margin-bottom: 5px;
}
