.top-bar {
  display: flex;
  background-color: #F7F9FB;
}

.top-bar-left {
  display: flex;
  width: 50px;
  background-color: #F7F9FB;
}

.top-bar-right {
  display: flex;
  flex-direction: row;
  background-color: #F7F9FB;
  font-size: 1.4rem;
}

.menu-text {
  background-color: #F7F9FB;
}

.menu {
  background-color: #F7F9FB;
  font-family: 'Source Serif Pro', serif;
  color:  #31708E;
  font-weight: 400;
}

.menu-title a {
  background-color: #F7F9FB;
  font-family: 'Source Serif Pro', serif;
  color:  #31708E;
  font-weight: 400;
  font-size: 6rem;
}

img.logo {
  width: 100px;
  height: auto;
  background-color: #F7F9FB;
}

li {
  background-color: #F7F9FB;
  font-size: 1.8rem;
}

.nav-flex {
  display: flex;
  align-items: center;
  justify-items: flex-start;
}

ul.menu.nav-flex {
  background-color: #F7F9FB;
  display: flex;
  flex-direction: row;
  background-color: #F7F9FB;
  font-size: 1.4rem;
}

input.size {
  font-size: 1.8rem;
  height: 40px;
}

div#example-menu.top-bar {
  margin-right: 10px;
}

a::after {
  margin: -5px;
}

.devise-links {
  display: inline-flex;
  align-items: center;
  font-size: 1.8rem;
  height: 40px;
  width: fit-content;
  border-radius: 2px;
  background-color: #31708E;
  color: white;
  margin-left: 10px;
  margin-right: 5px;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

.devise-links:hover, a.devise-links.focus {
  background-color: #14679e;
  color: #fefefe;
}

a.devise-links {
  padding: 10px;
  display: inline-flex;
  align-items: center;
}

button.button {
  font-size: 1.8rem;
}