// Margin Top
.mt {
  margin-top: 0px;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

// Margin Bottom
.mb {
  margin-top: 0px;
}

.mb-1 {
  margin-top: 0.25rem;
}

.mb-2 {
  margin-top: 0.5rem;
}

.mb-3 {
  margin-top: 0.75rem;
}

.mb-4 {
  margin-top: 1rem;
}

.mb-5 {
  margin-top: 1.25rem;
}

.mb-6 {
  margin-top: 1.5rem;
}

// Margin Right
.mr {
  margin-top: 0px;
}

.mr-1 {
  margin-top: 0.25rem;
}

.mr-2 {
  margin-top: 0.5rem;
}

.mr-3 {
  margin-top: 0.75rem;
}

.mr-4 {
  margin-top: 1rem;
}

.mr-5 {
  margin-top: 1.25rem;
}

.mr-6 {
  margin-top: 1.5rem;
}

// Margin Left
.mr {
  margin-top: 0px;
}

.mr-1 {
  margin-top: 0.25rem;
}

.mr-2 {
  margin-top: 0.5rem;
}

.mr-3 {
  margin-top: 0.75rem;
}

.mr-4 {
  margin-top: 1rem;
}

.mr-5 {
  margin-top: 1.25rem;
}

.mr-6 {
  margin-top: 1.5rem;
}

// Padding Top
.pt {
  margin-top: 0px;
}

.pt-1 {
  margin-top: 0.25rem;
}

.pt-2 {
  margin-top: 0.5rem;
}

.pt-3 {
  margin-top: 0.75rem;
}

.pt-4 {
  margin-top: 1rem;
}

.pt-5 {
  margin-top: 1.25rem;
}

.pt-6 {
  margin-top: 1.5rem;
}

// Padding Bottom
.pb {
  margin-top: 0px;
}

.pb-1 {
  margin-top: 0.25rem;
}

.pb-2 {
  margin-top: 0.5rem;
}

.pb-3 {
  margin-top: 0.75rem;
}

.pb-4 {
  margin-top: 1rem;
}

.pb-5 {
  margin-top: 1.25rem;
}

.pb-6 {
  margin-top: 1.5rem;
}

// Padding Right
.pr {
  margin-top: 0px;
}

.pr-1 {
  margin-top: 0.25rem;
}

.pr-2 {
  margin-top: 0.5rem;
}

.pr-3 {
  margin-top: 0.75rem;
}

.pr-4 {
  margin-top: 1rem;
}

.pr-5 {
  margin-top: 1.25rem;
}

.pr-6 {
  margin-top: 1.5rem;
}

// Padding Left
.pl {
  margin-top: 0px;
}

.pl-1 {
  margin-top: 0.25rem;
}

.pl-2 {
  margin-top: 0.5rem;
}

.pl-3 {
  margin-top: 0.75rem;
}

.pl-4 {
  margin-top: 1rem;
}

.pl-5 {
  margin-top: 1.25rem;
}

.pl-6 {
  margin-top: 1.5rem;
}