.callout {
  border: 1px solid #adb5bd;
  padding: 2rem;
}

.dropzone-box {
  border: 2px dashed #984447;
  padding: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

// Generic Flexblox Style
.flex-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.flex-row img {
  margin: 5px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

// Button Styles
.button:hover {
  background-color: #dc602e;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

// Admin Links
.columns.admin-flex {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

a.admin-link {
  font-size: 1.4rem;
  margin-left: 10px;
  padding: 10px;
  width: fit-content;
  border-radius: 2px;
  background-color: #984447;
  color: #f7f9fb;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

a.admin-link:hover {
  background-color: #dc602e;
  color: #f7f9fb;
  font-size: 1.4rem;
}

// HR Style
hr.style-one {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}